<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/resources/template/template.xhtml">

	<ui:define name="center">
		<p:layout>
			<p:layoutUnit position="north" size="100"> north
			</p:layoutUnit>
			<p:layoutUnit position="east" size="200"> east
			</p:layoutUnit>
			<p:layoutUnit position="center">
				<f:facet name="header">
					<div align="center">
						<form>
							<h:inputText value="login" />
							<br></br>
							<h:inputSecret value="123456" />
							<br></br>
							<p:commandButton value="Cancelar" />
							<p:commandButton value="Logar" />
						</form>
					</div>
				</f:facet>
			</p:layoutUnit>
			<p:layoutUnit position="west" size="200"> west
			</p:layoutUnit>
			<p:layoutUnit position="south" size="100"> south
			</p:layoutUnit>
		</p:layout>
	</ui:define>

</ui:composition>
</html>